@font-face {
    font-family: "Gotham-Medium" ;
    src: url(../fonts/fonts/Gotham-Medium.otf);
}

@font-face {
    font-family: "Gotham-Thin" ;
    src: url(../fonts/fonts/Gotham-Thin.otf);
}

@font-face {
    font-family: "Gotham-Ultra" ;
    src: url(../fonts/fonts/Gotham-Ultra.otf);
}

